<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <receiver
            android:name=".task.alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".task.backTask.BackTaskDetailActivity"
            android:exported="false" />
        <activity
            android:name=".task.backTask.BackTaskMainActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <receiver
            android:name=".task.broadcastReceiver.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".task.broadcastReceiver.SmsReceiverActivity"
            android:theme="@style/Theme.SmsReceiver.Dialog" />
        <activity
            android:name=".task.broadcastReceiver.BroadcastReceiverMainActivity"
            android:exported="false" />
        <activity
            android:name=".task.scheduler.SchedulerMainActivity"
            android:exported="false" />
        <activity
            android:name=".task.notification.NotificationMainActivity"
            android:exported="false" />
        <activity
            android:name=".task.alarm.AlarmMainActivity"
            android:exported="false" />
        <activity
            android:name=".testing.TestingMainActivity"
            android:exported="false" />
        <activity
            android:name=".ldp.room.RoomNoteAddUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ldp.sqlite.NoteAddUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ldp.sharedPreferences.FormUserPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".ldp.sqlite.SqlLiteMainActivity"
            android:exported="false" />
        <activity
            android:name=".ldp.sharedPreferences.SharedPrefMainActivity"
            android:exported="false" />
        <activity
            android:name=".ldp.room.RoomMainActivity"
            android:exported="false" />
        <activity
            android:name=".ldp.repository.ui.RepositoryMainActivity"
            android:exported="false" />
        <activity
            android:name=".ldp.openFile.OpenFileMainActivity"
            android:exported="false" />
        <activity
            android:name=".ldp.datastore.DataStoreMainActivity"
            android:exported="false" />
        <activity
            android:name=".livedata.withapi.LiveDataApiMainActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity

            android:name=".viewModel.ViewModelMainActivity"
            android:exported="false" />
        <activity
            android:name=".loopj.LoopJListQuoteActivity"

            android:exported="false" />
        <activity
            android:name=".task.TaskMainActivity"

            android:exported="false" />
        <activity
            android:name=".retrofit.RetrofitMainActivity"
            android:exported="false" />
        <activity
            android:name=".task.TaskMainActivity"
            android:exported="false" />
        <activity
            android:name=".loopj.LoopJMainActivity"
            android:exported="false" />
        <activity
            android:name=".livedata.LiveDataMainActivity"
            android:exported="false" />
        <activity
            android:name=".ldp.LdpMainActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.NavigationProfileActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.NavigationMainActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerView.RecycleViewMainActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentMainActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>